aiohttp==3.8.6
aiohttp_cors==0.7.0
async-timeout==4.0.3
attrs==24.2.0
charset-normalizer==3.3.2
frozenlist==1.4.1
multidict==6.0.4
yarl==1.9.2
loguru==0.7.2
pandas==2.1.1
numpy==1.26.4
websockets==10.4
psutil==5.9.8
pytz==2024.1
pydantic==2.5.3

